<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="shortcut icon" href="/images/Pinfinity.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>

<body>
    <nav class="navbar">
        <img src="/images/Pinfinity.png" alt="pin logo"
            class="img1" />
        <a href="#" class="nav-link">Pinfinity</a>
        <a href="/profile/posts" class="nav-link nav-link-differ">Posts</a>
        <a href="/feed" class="nav-link nav-link-differ">Feed</a>
        <a href="/logout" class="btn-custom">Log Out</a>
    </nav>

    <div class="container">
        <div class="banner">
            <div class="profilediv">
                <!-- To upload profile image -->
                <form id="profileForm" action="/profileUpload" method="post" enctype="multipart/form-data">
                    <input type="file" name="profileImage" id="profileImageInput">
                </form>

                <div class="profileImg">
                    <img src="/images/uploads/<%= user.dp %>" alt="profileImg"
                        class="<%= user.dp ? '' : 'default-img' %>">
                    <i id="profileImg" class="ri-pencil-line edit-icon"></i>
                </div>
                <h1>@<%= user.username %>
                </h1>

                <!-- file Upload part -->
                <form id="postForm" action="/upload" method="post" enctype="multipart/form-data">
                    <input type="text" name="caption" placeholder="Caption" class="caption-input" style="display:none;">
                    <input type="file" name="uploadPost" id="uploadPostInput" style="display:none;">
                    <button type="button" class="upload-btn" id="addPostBtn">Add New Post</button>
                    <button type="submit" class="upload-btn submit-btn" style="display:none;">Submit</button>
                </form>
            </div>
        </div>

        <div class="cards">
            <% if (user.posts && user.posts.length> 0) { %>
                <div class="card">
                    <img class="card-img" src="/images/uploads/<%= user.posts[0].image %>" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Posts</h5>
                        <p class="card-count">
                            <%= user.posts.length %>
                        </p>
                    </div>
                </div>
            <% } else { %>
                <p class="noPost">No post to show</p>
            <% } %>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; 2024 Pinfinity. All rights reserved.</p>
        <p><a href="#">About</a> | <a href="#">Contact</a> | <a href="#">Privacy Policy</a></p>
    </footer>

    <script src="/javascripts/profile.js"></script>
</body>

</html>